/* 
    Created on : 29.01.2015, 9:31:31
    Author     : DFD
	Styles for : Blog posts module responsive
*/
@media only screen and (max-width: @screen-medium - 1) {
	.dfd-blog-module {
		&.blog_masonry {

		}
		&.posts_slider {
			.post {
				.content-wrap {
					.entry-content {
						.hide();
					}
				}
			}
		}
		&.blog_left_thumb,
		&.blog_right_thumb {
			.post {
				.clearfix();
				.entry-media,
				.content-wrap {
					float: none;
					clear: both;
					width: 100%;
					padding: 0;
				}
				.content-wrap {
					.cover {
						padding: 0;
					}
				}
			}
		}
	}
	body {
		#layout {
			.single-post {
				&.dfd-single-style-advanced {
					.dfd-meta-container .dfd-commentss-tags .dfd-single-tags {
						margin-left: 0;
						padding-left: 0;
						.post-tags {
							float: none;
						}
					}
				}
			}
		}
	}
}