/*CSS for Components*/
.woo_grid, .woo_grid > .wpb_element_wrapper{
	background-image: url(../img/icon-woo-grid.png) !important;
}
.woo_list, .woo_list > .wpb_element_wrapper{
	background-image: url(../img/icon-woo-list.png) !important;
}
.woo_carousel, .woo_carousel > .wpb_element_wrapper{
	background-image: url(../img/icon-woo-carousel.png) !important;
}
.woo_product, .woo_product > .wpb_element_wrapper{
	background-image: url(../img/icon-woo-product.png) !important;
}
select#display_type,
input#per_page,
input#columns,
select#orderby,
select#order,
select#cat {
	width: 180px;
	float:right;
}
#s2id_products {
	width: 180px;
}
#s2id_cat {
	width: 180px;
	float: right;
	display: inline-block !important;
	z-index: 999;
}
select#cat.multiple {
	max-height: 48px;
	padding-bottom: 3px;
	padding-top: 3px;
}
.edit_form_line .display_type, 
.edit_form_line .per_page, 
.edit_form_line .columns, 
.edit_form_line .orderby, 
.edit_form_line .order, 
.edit_form_line .cat {
	width: 48%;
	float: left;
	margin: 1%;
	min-height: 45px;
}
/*Front End*/
#vc-properties-panel.ui-draggable .display_type,
#vc-properties-panel.ui-draggable .per_page,
#vc-properties-panel.ui-draggable .columns,
#vc-properties-panel.ui-draggable .orderby, 
#vc-properties-panel.ui-draggable .order, 
#vc-properties-panel.ui-draggable .cat {
    width: 100%;
	clear: both;
	margin: 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*Label Height*/
div.display_type > label, 
div.per_page > label, 
div.columns > label, 
div.orderby > label, 
div.order > label, 
div.cat > label{
	height: 45px;
	line-height: 45px;
	margin: 0;
}
/*Query Builder Design*/
[data-title="Edit List View [Beta]"] .wpb_el_type_woocomposer,
[data-title="Edit Grid View [Beta]"] .wpb_el_type_woocomposer,
[data-title="Edit Product Carousel [Beta]"] .wpb_el_type_woocomposer {
	background: #FAFAFA;
	padding: 15px;
    margin: 15px 0 30px !important;
	box-sizing: border-box;
	border: 1px solid #ECECEC;
	border-radius: 5px; 
}
/*Query Builder Front Design*/
.vc-editor [data-title="Edit List View [Beta]"] .wpb_el_type_woocomposer,
.vc-editor [data-title="Edit Grid View [Beta]"] .wpb_el_type_woocomposer,
.vc-editor [data-title="Edit Product Carousel [Beta]"] .wpb_el_type_woocomposer {
	width: 94%;
	margin-left: 3% !important;
	margin-right: 3% !important;   
}
/*Select Box Designs*/
/*
[data-title="Edit List View [Beta]"] .wpb_el_type_dropdown  select,
[data-title="Edit List View [Beta]"] .wpb_el_type_number input {
	width: auto !important;
	min-width: 150px;
	max-width: 100%;
}
*/
@media (max-width: 767px) {
	select#display_type, input#per_page, input#columns, select#orderby, select#order, select#cat {
		width:60%;
		float:right;
		margin:0px;
		margin-bottom:10px;
	}
	.edit_form_line label{
		width: 30%;
		float: left;
		height: 39px;
		line-height: 45px;
		margin-bottom:10px;
	}
}
/*On Off Checkbox Switch*/
.onoffswitch {
	position: relative;
	width: 95px;
	display: inline-block;
	float: left;
	margin-right: 15px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none !important;
}
.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 0px solid #999999;
	border-radius: 0px;
}
.onoffswitch-inner {
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > div {
	float: left;
	position: relative;
	width: 50%;
	height: 24px;
	padding: 0;
	line-height: 24px;
	font-size: 12px;
	color: white;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.onoffswitch-inner .onoffswitch-active {
	padding-left: 15px;
	background-color: #CCCCCC;
	color: #FFFFFF;
}
.onoffswitch-inner .onoffswitch-inactive {
	padding-right: 15px;
	background-color: #CCCCCC;
	color: #FFFFFF;
	text-align: right;
}
.onoffswitch-switch {
	/*width: 50px;*/
	width:35px;
	margin: 0px;
	text-align: center;
	border: 0px solid #999999;
	border-radius: 0px;
	position: absolute;
	top: 0;
	bottom: 0;
}
.onoffswitch-active .onoffswitch-switch {
	background: #3F9CC7;
	left: 0;
}
.onoffswitch-inactive .onoffswitch-switch {
	background: #7D7D7D;
	right: 0;
}
.onoffswitch-active .onoffswitch-switch:before {
	content: " ";
	position: absolute;
	top: 0;
	/*left: 50px;*/
	left:35px;
	border-style: solid;
	border-color: #3F9CC7 transparent transparent #3F9CC7;
	/*border-width: 12px 8px;*/
	border-width: 15px;
}
.onoffswitch-inactive .onoffswitch-switch:before {
	content: " ";
	position: absolute;
	top: 0;
	/*right: 50px;*/
	right:35px;
	border-style: solid;
	border-color: transparent #7D7D7D #7D7D7D transparent;
	/*border-width: 12px 8px;*/
	border-width: 50px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}