/*!
 * fullPage 2.8.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 * Contribution by Jhony0311
 */
html.fp-enabled,
.fp-enabled body {
/*    margin: 0;
    padding: 0;*/
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    &.fp-prev {
        left: 15px;
        width: 0;
        border-width: 38.5px 34px 38.5px 0;
        border-color: transparent #fff transparent transparent;
    }

    &.fp-next {
        right: 15px;
        border-width: 38.5px 0 38.5px 34px;
        border-color: transparent transparent transparent #fff;
    }
}
.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;

    &.bottom {
        bottom: 17px;
    }

    &.top {
        top: 17px;
    }
}

#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
	
    li {
        display: block;
        width: 14px;
        height: 13px;
        margin: 7px;
        position:relative;

        a {
            display: block;
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            cursor: pointer;
            text-decoration: none;

            &.active span {
                height: 12px;
                width: 12px;
                margin: -6px 0 0 -6px;
                border-radius: 100%;

                #fp-nav ul li:hover &,
                #fp-slidesNav ul li:hover & {
                    height: 12px;
                    width: 12px;
                    margin: -6px 0 0 -6px;
                    border-radius: 100%;
                }
            }

            span {
                border-radius: 50%;
                position: absolute;
                z-index: 1;
                height: 4px;
                width: 4px;
                border: 0;
                background: #333;
                left: 50%;
                top: 50%;
                margin: -2px 0 0 -2px;
                -webkit-transition: all 0.1s ease-in-out;
                -moz-transition: all 0.1s ease-in-out;
                -o-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }
        }

        &:hover {

            a {
                span {
                    width: 10px;
                    height: 10px;
                    margin: -5px 0px 0px -5px;
                }
            }
        }

    }
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    &.right {
       right: 17px;
    }
    &.left {
        left: 17px
    }
	&.dfd-nav-light {
		ul {
			li {
				span {
					background: #333333;
				}
			}
		}
	}
	&.dfd-nav-dark {
		ul {
			li {
				span {
					background: #ffffff;
				}
			}
		}
	}
    ul {
        li {
            .fp-tooltip {
                position: absolute;
                top: 50%;
                color: #fff;
                font-size: 13px;
                white-space: nowrap;
                max-width: 220px;
                overflow: hidden;
                display: block;
                opacity: 0;
                width: 0;
                cursor: pointer;
				.transform(translateY(-50%));
                &.right {
                    right: 20px;
                }

                &.left {

                }
            }
            &:hover {
                .fp-tooltip {
                    -webkit-transition: opacity 0.2s ease-in;
                    transition: opacity 0.2s ease-in;
                    width: auto;
                    opacity: 1;
                }
            }
        }
    }
    &.fp-show-active a.active + .fp-tooltip {
        -webkit-transition: opacity 0.2s ease-in;
        transition: opacity 0.2s ease-in;
        width: auto;
        opacity: 1;
    }
}
.fp-slidesNav ul li {
    display: inline-block;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

.fp-scrollable {
	overflow: hidden;
	.fp-scroller {
		overflow: hidden;
	}
}

#layout.one-page-scroll {
	.rel();
	&.dfd-enable-onepage-animation {
		> .vc-row-wrapper,
		> .vc_vc_row {
			overflow: hidden;
			.abs();
			top: 0;
			left: 0;
			background: #fff;
			.backface-visibility(hidden);
			.transform-style(preserve-3d);
			z-index: 1;
			&.active {
				z-index: 10;
			}
			&:not(.active):not(.fp-completely) {
				top: 100%;
				pointer-events: none;
				visibility: hidden;
			}
		}
	}
}

body.page-template-tmp-one-page-scroll {
	#main-wrap #footer-wrap {
		.abs();
		width: 100%;
		min-width: 100%;
	}
	@media only screen and (min-width: 1101px) {
		#header-container.header-style-12 + #main-wrap.dfd-parallax-footer #footer-wrap,
		#header-container.header-style-13 + #main-wrap.dfd-parallax-footer #footer-wrap,
		#header-container.header-style-14 + #main-wrap.dfd-parallax-footer #footer-wrap {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
	.vc-row-wrapper {
		.dfd-row-bg-wrapper-cover {
			z-index: 0;
		}
		.wpb_row {
			z-index: 1;
		}
		.dfd-row-bg-overlay {
			z-index: 0;
		}
	}
	#main-wrap.dfd-parallax-footer #footer-wrap {
		.rel();
		padding-left: 0;
		padding-right: 0;
		z-index: 2;
	}
	#change_wrap_div,
	#footer-wrap {
		.transition-transform(.6s ease);
	}
	#footer-wrap {
		.rel();
		max-height: 100%;
		z-index: 2;
		#footer {
			overflow: hidden;
			-webkit-touch-action: pan-y;
			-moz-touch-action: pan-y;
			-ms-touch-action: pan-y;
			touch-action: pan-y;
		}
	}
	&.dfd-one-page-footer-expanded {
		#change_wrap_div {
			.transform(translateY(-50px));
		}
		#footer-wrap {
			.transform(translateY(-100%));
		}
	}
	&.compose-mode {
		#layout.one-page-scroll {
			> .vc_vc_row {
				> .vc-row-wrapper {
					display: table;
					table-layout: fixed;
					width: 100%;
					height: inherit;
					&.equal-height-columns {
						> .fp-tableCell {
							> .row {
								> .vc_element {
									height: inherit !important;
								}
							}
						}
					}
					> .fp-tableCell {
						> .fp-scrollable {
							> .fp-scroller {
								> .row {
									z-index: 2;
								}
							}
						}
						> .row {
							z-index: 2;
						}
						.dfd-row-bg-wrap {
							z-index: 1;
						}
					}
				}
			}
			#vc_no-content-helper {
				.abs();
				bottom: 0;
				left: 0;
				width: 100%;
				z-index: 11;
			}
		}
	}
}