/*
Theme Name:     Ronneby Child Theme
Theme URI: 		http://themes.dfd.name/ronneby/
Description:    ronneby - Highly Functional Multifaceted WP Theme
Author:         DFD
Author URI:		http://wpsaloon.com/
Template:       ronneby
Version:        1.0.0
*/

p, .team-member-description{text-align: justify;}
.contact-custom .wpcf7 form input[type="submit"] {width: 180px;background-color: #474747;padding: 20px;color: #ffffff;}
.submitbtn{text-align: center;}
.contact-custom .wpcf7 form input[type="submit"]:hover{background-color: rgb(71,71,71, 0.9);transition: .5s;color: #ffffff;}
.service-singlepage-custom .dfd-info-box .info-box-icon-text{right: 10em;-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);}
.service-singlepage-custom .dfd-info-box .description {text-align: justify;padding: 15px 25px;background-color: #fff;border: 30px solid #4473c5;border-radius: 10px;border-top: 45px solid #4473c5;margin-top: -40px;}
.icon-mobile-menu span.icon-wrap.dfd-middle-line, .icon-mobile-menu span.icon-wrap.dfd-bottom-line{width: 25px;}
#header-container.small.header-style-7:not(.opened) .dfd-top-row{background-color: #ffffff !important;}
/*#header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap:before, #header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap:after{background: #000 !important;}*/
#header-container.header-style-7.opened .dfd-top-row .columns .dfd-menu-button .icon-wrap:before, #header-container.header-style-7.opened .dfd-top-row .columns .dfd-menu-button .icon-wrap:after{background: #ffffff !important;}
#header-container.header-style-7.opened .dfd-top-row .columns .dfd-menu-button .icon-wrap.dfd-middle-line{display: none;}
/*** 19-11-18 start ***/
.equal-height-columns .text-left {text-align: center;}
.dfd-service-item .dfd-service-description p {margin-bottom: 14px;}
.wpb_wrapper h3.widget-sub-title{font-style: normal !important;}
.page-id-14673 .wpb_wrapper h3.widget-sub-title{font-weight:600;}
/*#footer.footer-style-1 > .row > .columns > div:last-child{display: none;}*/
.widget.soc-icons.dfd-soc-icons-hover-style-26 {display: none;}
.page-id-14673 .dfd-stuning-header-bg-container {/*background-size: 1308px 1127.47px !important;background-repeat: no-repeat;background-position: 50% -229px !important;*/}
.vc-row-wrapper.home-contact-bg.dfd-background-dark {background-image: url(http://www.probitasquad.com/wp-content/uploads/2017/12/contact-us.jpg);background-size: 1311px 1133.47px;background-position: 50% -229px;}
.six.contact-form{margin-top: -100px;background: #fff;padding: 25px;box-shadow: 0 0 12px rgba(0, 0, 0, .15);margin-bottom: 20px;}
.page-id-14673 div.page-title-inner .page-title{color:#fff !important;}
/*** 19-11-18 end ***/
/* 8-5-19 */
.spaceh6 h6{margin-top:30px;}
.spaceh6 h6:first-child{margin-top:0;}
.privacypolicy ol{margin-left: 0;}
.privacypolicy ol, .privacypolicy ul, .termsofuse ol, .termsofuse ul, .PrivacycollectionStatementnotice ol, .PrivacycollectionStatementnotice ul{list-style-position:outside;padding-left: 20px;}
/* 8-5-19 end */
/* 14-May-2019 */ 
#footer .dfd-footer-menu ul li{font-style: normal !important;}
/* 14 june 19 */
.dfd-menu-button {background-color: #20458b;border-radius: 10px;}
#header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap{left: 12px;top: 46%;}
#header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap.dfd-top-line{margin-top: -6px;}
#header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap.dfd-bottom-line{margin-top: 6px;}
#header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap.dfd-bottom-line:before, #header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap.dfd-top-line:before, #header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap.dfd-middle-line:before{-webkit-box-shadow: 58px 59px 34px 48px rgba(0,0,0,0.2);-moz-box-shadow: 58px 59px 34px 48px rgba(0,0,0,0.2);box-shadow: 58px 59px 34px 48px rgba(0,0,0,0.2);}
body #header-container.small.header-style-7:not(.opened) .dfd-top-row .columns .dfd-menu-button .icon-wrap:before, body #header-container.small.header-style-7:not(.opened) .dfd-top-row .columns .dfd-menu-button .icon-wrap:before, body #header-container.small.header-style-14:not(.opened) .dfd-top-row .columns .dfd-menu-button .icon-wrap:before, body #header-container.small.header-style-7:not(.opened) .dfd-top-row .columns .dfd-menu-button .icon-wrap:after{background: #ffffff;}
.home-service-custom h2 a{color: #ffffff;}
.home-service-custom h2 a:hover, .home-team-custom h2 a:hover {text-decoration: underline;}
/* 14 june 19 end */
/* 19 june 19 */
.contactusleft .wpb_wrapper {/*background-color: #616997;*/background-color: #06255f;padding: 30px 30px 30px 30px;}
/*.contactusleft .bgcolorheading {background-color: #5bc0de;padding: .3em .6em;border-radius: 2px;}*/
.contactusleft .bgcolorheading {background-color: #ffab03;padding: .3em .6em;border-radius: 2px;}
/* 19 june 19 end */
/* 25 june 19 end */
.contactusleft a[href^="mailto:"]{font-style: normal;}
.contactusleft .dfd-icon-list-wrap .dfd-list-icon-block{width: 25px;height: 25px;}
.contactusleft .dfd-icon-list-wrap{padding-top: 15px;padding-bottom: 15px;}
/* 04-07-2019 */
.hm-our-people h5, .hm-our-people p, .hm-you-covered h5, .hm-you-covered p {color: #20458b !important;}
.dfd-background-dark#sub-footer .subfooter-copyright, #header-container.header-style-7 #header .header-wrap .row.decorated .header-main-panel .dfd-header-bottom .copyright-soc-icons-wrap .dfd-copyright {font-family: Arial;}
.contactus-right form p {color:#101010;}
.dfd-team-box-heading .feature-title {font-size: 18px;}
.dfd-team-box-heading .subtitle {color:#000;}
.home-service-custom .info-banner-title {font-size: 20px !important;}
.home-service-custom .info-banner-subtitle.subtitle {font-size: 20px !important;font-style: normal !important;font-weight: bold;font-family: "Raleway";line-height: 30px;text-transform: none;letter-spacing: 4px;color: #fff !important;}
.news-tab .dfd_tabs_block .dfd_tta_tabs .vc_tta-panels-container:before{border-top: 1px solid rgba(40,38,43,0.2);}
.news-tab .dfd_tabs_block .dfd_tta_tabs .vc_tta-panels-container{margin-top:0;}
.news-tab .dfd_tabs_block .dfd_tta_tabs.classic_empty .vc_tta-tabs-container .vc_tta-tabs-list li.vc_active a {border-bottom: 2px solid #E86020 !important;border-top: none !important;border-left: none !important;border-right: none !important;border-radius: 0 !important;}
.news-tab .dfd_tabs_block .dfd_tta_tabs.vc_tta.vc_general .vc_tta-tabs-list{padding-bottom:0 !important;}
.news-tab .dfd_tabs_block .dfd_tta_tabs.classic_empty .vc_tta-tabs-container .vc_tta-tabs-list li.vc_tta-tab a {padding-left: 0;padding-right: 0;margin-right: 30px;}
.pgs-services p {text-align: center;}
/* 09-07-2019 */
.dfd-service-module-wrap .dfd-service-list.half-size-elements .dfd-service-item {border-left-width: 3px;border-color : #ffab03 !important;}
.home-service-custom {border-top:2px solid #fff;}
/*.home-service-custom .dfd-heading-shortcode {border-top:2px solid #b2b2b2;padding-top: 30px;margin-top: 30px;}*/

/* 25 june 19 end */
@media only screen and (min-width: 1101px){
#header-container.header-style-7 .dfd-top-row {background-color: rgb(255, 255, 255, 0.3) !important;}
#header-container.header-style-7.opened .dfd-top-row{background: transparent !important;}
/* 14 june 19 */
body #header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap{left: 12px;top: 46%;}
body #header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap.dfd-top-line{margin-top: -6px;}
body #header-container.header-style-7 .dfd-top-row .columns .dfd-menu-button .icon-wrap.dfd-bottom-line {margin-top: 6px;}
/* 14 june 19 end */
}

@media only screen and (max-width: 799px){
.home-service-custom .dfd-equalize-height{height: inherit !important;min-height: inherit !important;}
.home-service-custom .dfd-equalize-height .dfd-service-front-wrap{transform: none;}
/*.home-service-custom .dfd-heading-shortcode {border-top:0;padding-top: 0;margin-top: 0;}*/
}

.dfd-team-box .dfd-team-back {min-height: 80px;}
.dfd-carousel-wrapper .dfd-carousel-module-wrapper.dfd-dots-enabled {padding-bottom: 30px;}
.stuning-header-inner div.page-title-inner .page-title {color: #fff;background-color: rgba(0, 0, 0, 0.5);padding: 0;display: table;margin: 0 auto;padding: 0 40px;border-radius: 50px;}
.dfd-stuning-header-bg-container {background-repeat: no-repeat;}

@media screen and (min-width:100px) and (max-width:767px){
.dfd-stuning-header-bg-container {background-size: cover !important;}
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:landscape){
.dfd-stuning-header-bg-container {background-size: cover !important;}
}

@media all and (device-width:1024px) and (device-height:768px) and (orientation:landscape){
.dfd-stuning-header-bg-container {background-size: cover !important;}
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait){
.dfd-stuning-header-bg-container {background-size: cover !important;}
}

@media screen and (min-width:800px) and (max-width:900px){
.dfd-stuning-header-bg-container {background-size: cover !important;}
}

@media all and (device-width:1024px) and (device-height:1366px) and (orientation:portrait){
.dfd-stuning-header-bg-container {background-size: cover !important;}
}

@media screen and (max-width: 896px) and (orientation: landscape) {
.dfd-stuning-header-bg-container {background-size: cover !important;}
}

@media screen and (device-width:834px) and (device-height: 1194px){
.dfd-stuning-header-bg-container {background-size: cover !important;}
}