/*------------------------------------------------------------------
[Woocommerce Stylesheet]

Project:	Ronneby theme
Version:	1.0
Last change:	16/06/15
Assigned to:	DFD
Primary use:	Woocommerce custom styles
-------------------------------------------------------------------*/
@import "../less.lib/variables.less";
@import "../less.lib/sb_mixins.less";

.woo-price() {
	display: block;
	margin-top: 5px;

	color: @woocommerce-price-color;
	font-size: @box-name-font-size;
	font-family: @box-name-font-family;
	
	.from {
		color: @subtitle-color;
		font-family: @subtitles-font-family;
		font-size: @box-name-font-size - 4;
	}

	del {
		padding-right: 5px;
		font-size: @box-name-size - 4;
		color: @woocommerce-old-price-color;
	}
	
	ins {
		text-decoration: none;
	}
}

/* -----------------------------------------
   Woocommerce plugin theme styling
----------------------------------------- */

.clear {
    clear: both
}

.nobr {
    white-space: nowrap
}

.single-variation .price, .product .summary .price {
    display: block;
}
.shop__main_desc {
    padding: 0 0 15px 0;
}

/* -----------------------------------------
   Product Page
----------------------------------------- */

#layout .products {
    //.clearfix();
    //margin: 0;
    list-style: none;
	/*overflow: hidden;*/
}

.product {
	margin-bottom: 30px;
}

.products-slider {
	.carousel();
}
.product {
	margin-bottom: 15px;
}

ul.products li.product ins {
    text-decoration: none;
}

.woocommerce .product .add-info {
	display: block;
	.rel();
	z-index: 2;
	width: 100%;
	min-height: 45px;
	margin: (@gutter-width / 2) 0 0 0;
	padding-top: (@gutter-width / 2);
	padding-bottom: 20px;
	clear: both;
	
	.prod-details {
		display: none;
	}
	
	.star-rating {
		display: none;
	}
}

#layout .woo-page-title {
	.widget-title();
	float: left;
	width: 50%;
	padding-top: 10px;
	margin-bottom: 40px;
	padding-right: 10px;
}

#shipping_method {
	margin-bottom: 0;
	li {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.woocommerce label .required {
    color: red;
}

.woocommerce td.label, .woocommerce td.value {
    vertical-align: top;
    padding-bottom: (@gutter-width / 2);
}
.woocommerce td.label label {
    padding-top: 3px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%;
}

.woocommerce .col2-set .col-2, 
.woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%;
}

.woocommerce div.product, 
.woocommerce-page div.product, 
.woocommerce #content div.product, 
.woocommerce-page #content div.product {
    margin-bottom: 20px;
    position: relative;
}

.woocommerce div.product .product_title, 
.woocommerce-page div.product .product_title, 
.woocommerce #content div.product .product_title, 
.woocommerce-page #content div.product .product_title {
    clear: none;
    margin-top: 0;
}

.woocommerce .addresses .title:after, .woocommerce-page .addresses .title:after {
    content: "";
    display: block;
    clear: both;
}

.woocommerce .addresses .title h3, .woocommerce-page .addresses .title h3 {
    float: left;
    font-weight: 300;
}

.woocommerce .addresses .title .edit, .woocommerce-page .addresses .title .edit {
    float: right;
}



.woocommerce ul.digital-downloads, .woocommerce-page ul.digital-downloads {
    margin-left: 0;
    padding-left: 0
}

.woocommerce ul.digital-downloads li, .woocommerce-page ul.digital-downloads li {
    list-style: none;
    margin-left: 0;
    padding-left: 1.5em;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat;
}

.woocommerce ul.digital-downloads li .count, .woocommerce-page ul.digital-downloads li .count {
    float: right;
}

.woocommerce .widget_layered_nav ul, .woocommerce-page .widget_layered_nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none outside;
}

.woocommerce .widget_layered_nav ul li, .woocommerce-page .widget_layered_nav ul li {
    padding: 0 0 1px;
    list-style: none;
}

.woocommerce .widget_layered_nav ul li:after, .woocommerce-page .widget_layered_nav ul li:after {
    content: "";
    display: block;
    clear: both;
}

.woocommerce .widget_layered_nav ul li a, .woocommerce-page .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span, .woocommerce-page .widget_layered_nav ul li span {
    padding: 1px 0;
    float: left;
}

.woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a {
    padding: 0 6px 0 18px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888;
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888;
    color: @main-site-dark-color;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.woocommerce .widget_layered_nav ul small.count, .woocommerce-page .widget_layered_nav ul small.count {
    float: right;
    margin-left: 6px;
    font-size: 1em;
    padding: 1px 0;
    color: #777;
}

.woocommerce .widget_layered_nav_filters ul, .woocommerce-page .widget_layered_nav_filters ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none outside;
    overflow: hidden;
}

.woocommerce .widget_layered_nav_filters ul li, .woocommerce-page .widget_layered_nav_filters ul li {
    float: left;
    padding: 0 1px 1px 0;
    list-style: none;
}



.woocommerce .hreview-aggregate .star-rating, .woocommerce-page .hreview-aggregate .star-rating {
	margin: 10px 0 0 0;
}

.shipping_address {
    clear: left;
}


.product.type-product {
    position: relative;
}
.woocommerce ul.tabs-content.contained > li {
    padding-top: 0;
}
.cart_table_item .product-price {
    font-size: 14px;
}
.cart_table_item .product-subtotal {
    font-size: 14px;
}
.order_table_item {
    a {
	color: @font-site-light-color;
    }
}
.variation dt, .variation dd {
    display: inline-block;
    float: left;
}
.variation dt {
    clear: left;
    padding-right: 5px;
}

.widget_shopping_cart li h6 {
    text-transform: uppercase;
    padding: 0 0 4px;
}
.widget_shopping_cart .amount {
    color: #ff6565;
}
.widget_shopping_cart .quantity {
    display: block;
    float: none;
    clear: both;
    height: auto;
    font-size: @default-text-font-size;
    font-weight: @default-text-font-weight;
}
.widget_shopping_cart li:first-child .cart-widget-description {
    border-top: 0;
}
.cart-widget-description {
    overflow: hidden;
    padding-top: 15px;
    border-top: 1px dotted #e3e3e3;
}

.buttons {
    overflow: hidden;
    padding: 15px 0;
}
.buttons .button {
    width: 49%;
    display: block;
    float: left;
    max-width: 300px;
    box-shadow: none;
    font-weight: 300;
    padding: 9px;
}




/* Cart */
.woocommerce ul.cart_list li dl.variation {
    //clear: both;
}

.woocommerce ul.cart_list li dl, .woocommerce-page ul.cart_list li dl, .woocommerce ul.product_list_widget li dl, .woocommerce-page ul.product_list_widget li dl {
    margin: 0;
    padding-left: 1em;
    border-left: 2px solid rgba(0, 0, 0, 0.1)
}

.woocommerce ul.cart_list li dl dt, .woocommerce-page ul.cart_list li dl dt, .woocommerce ul.product_list_widget li dl dt, .woocommerce-page ul.product_list_widget li dl dt {
    float: left;
    clear: left;
    margin-right: .25em
}

.woocommerce ul.cart_list li dl dd, .woocommerce-page ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dd, .woocommerce-page ul.product_list_widget li dl dd {
    margin-bottom: .5em
}

.woocommerce ul.cart_list li .star-rating, .woocommerce-page ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating, .woocommerce-page ul.product_list_widget li .star-rating {
    float: none
}

.woocommerce .widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total {
    border-top: 3px double #f7f6f7;
    padding: 4px 0 0
}

.woocommerce .widget_shopping_cart .total strong, .woocommerce-page .widget_shopping_cart .total strong {
    min-width: 40px;
    display: inline-block
}

.woocommerce .widget_shopping_cart .buttons:after, .woocommerce-page .widget_shopping_cart .buttons:after {
    content: "";
    display: block;
    clear: both
}

.cart_totals.calculated_shipping h2 {
    text-align: left;
}

.product-tab-descr {
    text-transform: uppercase;
    margin-bottom: 10px;
}


.type-product .summary {
    float: right;
	margin-top: 0;
    padding: 0 10px 20px 10px;
	
	.variations_form {
		padding-bottom: 0;
	}
	
	.product_title {
		color: @gray-dark;
	}
}



/* Button icon should be here */
.cart {
	.button {
		&:before {
			.abs();
			font-size: 18px;
		}
	}
}



.prod-image-wrap {
	display: block;
    overflow: hidden;
	margin: 0 auto;
	
	.entry-thumb-hover-wrap {
		height: inherit;
		overflow: hidden;
		margin: 0 auto;
		vertical-align: middle;
	}
}

.woo-entry-thumb.prod-image-wrap a.link {
	background-color: transparent;
	
	&:before {
		content: '';
		display: none;
	}
}

.product_title {
    padding-bottom: 10px;
}

h1.product_title {
	font-size: @block-title-font-size + 2;
	font-weight: 500;
}

h2.product_title {
    font-size: @feature-title-font-size;
    font-weight: 300;
}

.summary .description {
    padding: 0;
}
.summary .price {
	.woo-price();
}

.related.products {
    clear: both;
}

.cart select {
    margin-bottom: 10px;
}

.lost_password-link {
    float: right;
    position: relative;
    top: -82px;
    font-size: 12px;
}
.sidebar_login_links {
    padding-bottom: 10px;
}
.widget_wp_sidebarlogin .login-submit {
    text-align: center;
    font-size: 13px;
}

div.pp_woocommerce .pp_close {
    right: 0;
}
div.pp_woocommerce .pp_details {
    padding-top: 0;
}

/*
 * Title
 */
.single-product .product_title {
	margin-bottom: 0;
	padding-bottom: 0 !important;
}

.single-product {
	.tabs-content {
		margin-bottom: 40px;
	}
	.share-wrap ul li a .total {
		display: none;
	}
}




/*TODO: Check and customize or remove*/

/*
 * Products slider
 */
.products-slider-wrap {
	.rel();
	clear: both;
	
	> .products-slider {
		.jcarousel-base();
		&:hover {
			> .jcarousel-control-prev {
				left: 13px;
				opacity: 1;
			}
			> .jcarousel-control-next {
				right: 13px;
				opacity: 1;
			}
		}
		
		.share-wrap ul {
			width: 100%;
		}
		
		.products {
			padding-top: 10px;
			
			> li {
				.rel();
				padding: 0 (@gutter-width / 2);
				
				.onsale {
					display: block;
				}
			}
		}
	}
	
	.flex-direction-nav {
		.abs();
		right: 0;
		top: 0;
	}
}

/*
 * best-selling-products
 */

.shortcode .best-selling-products-wrap .flex-direction-nav {
	top: -35px;
}

.woo-entry-thumb {
	.rel();
	display: block;
	overflow: hidden;
	line-height: .5;
	
	.added-to-cart-notice {
		padding: 5px 14px 5px 28px;
		background-color: fade(#FFFFFF, 70%);
		color: #4f4f4f;
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: 12px;
		.opacity(0);
		
		&:before {
			color: @second-site-light-color;
			font-size: 14px;
			font-weight: normal;
			position: absolute;
			width: 28px;
			top: 0;
			bottom: 0;
			left: 0;
			text-align: center;
			line-height: 1.7;
		}
	}
}

.dfd-loop-shop-responsive .dfd-prod-lightbox {
	.hide();
}

@import "../less.lib/woocommerce_old/product-categories-carousel.less";
@import "../less.lib/woocommerce_old/products-list.less";
@import "../less.lib/woocommerce_old/single-product.less";
@import "../less.lib/woocommerce_old/message-boxes.less";
@import "../less.lib/woocommerce_old/quantity-selector.less";
@import "../less.lib/woocommerce_old/shop-attributes.less";
@import "../less.lib/woocommerce_old/star-rating.less";
@import "../less.lib/woocommerce_old/reviews.less";
@import "../less.lib/woocommerce_old/cart-inner.less";
@import "../less.lib/woocommerce_old/checkout.less";
@import "../less.lib/woocommerce_old/on-sale.less";
@import "../less.lib/woocommerce_old/wishlist-share.less";
@import "../less.lib/woocommerce_old/filter-by-price.less";
@import "../less.lib/woocommerce_old/filter-by-category.less";
@import "../less.lib/woocommerce_old/woo-widgets.less";